.landing-banner {
  background-image: url("../../assets/ChatGPT Image Jun 13, 2025, 10_31_31 AM 1.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.landing-banner-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-top: 70px;
}
.landing-banner-heading {
  color: white;
  font-weight: 500;
  font-size: 90px;
  margin: 0px !important;
}
.landing-banner-heading p {
  margin: 0px !important;
}
.landing-banner-subheading {
  color: white;
  font-weight: 500;
  font-size: 30px;
}
.banner-about-us-btn {
  margin-top: 20px;
  color: white;
  padding: 5px 10px;
  border-radius: 25px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
   font-family: 'Sora', sans-serif;
  cursor: pointer;
}
.banner-about-us-btn img {
  width: 50px;
}
.place-for-everyone {
  background: linear-gradient(to bottom, #021f52, #1a52b4);
}
.place-for-every-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-for-everyone-left {
  width: 100%;
  max-width: 35%;
  min-width: 35%;
}
.place-for-everyone-right {
  width: 100%;
  max-width: 55%;
  min-width: 55%;
}
.place-for-everyone-right img{
  width: 100%;
  max-width: 600px;
}
.place-everyone-heading{
  font-size: 50px;
  color: white;
}
.place-everyone-text{
  color: white;
  margin-top: 20px;
   font-family: 'Sora', sans-serif;
  font-size: 15px;
  font-weight: 400;
}