.sign-up {
  background-color: #b4b4b4;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 100%;
  max-width: 50%;
  min-width: 50%;
  /* margin: 0px auto; */
  border-radius: 20px;
  height: auto;
  margin: 80px 0;
}

.signup-form-header {
  background-color: #eeeeee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.cross-btn {
  border: 2px solid #8d8d8d;
  padding: 3px 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.cross-btn i {
  color: #8d8d8d;
}
.sign-up-heading {
  color: #8d8d8d;
  font-family: "sora", sans-serif;
  font-size: 22px;
}
.signup-btn {
  background-color: #1a52b4;
  border: none;
  color: white;
  padding: 5px 25px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.signup-form-body {
  background-color: white;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-bottom: 50px;
  padding: 20px 60px;
}
.signup-body-head {
  text-align: center;
  padding: 20px 0px 40px 0px;
  border-bottom: 1px solid #cfcfcf;
}
.signup-body-head img {
  width: 80px;
}
.usha-foundation {
  font-size: 28px;
  text-align: center;
}
.usha-foundation-subheading {
  text-align: center;
}

.first-name-input {
  padding: 10px 10px;
  border: 1px solid #b2b2b2;
  display: flex;
  align-items: center;
  column-gap: 5px;
  border-radius: 15px;
}
.first-name-input img {
  width: 30px;
}
.first-name-input input {
  border: none;
  outline: none;
  color: #adadad;
  width: 100%;
  padding-left: 10px;
  font-size: 15px;
}
.separate-div {
  width: 1px; /* thinner for a cleaner vertical line */
  height: 20px;
  background-color: #b2b2b2; /* now it's visible */
  margin: 0 8px;
}
.signup-form-body2 {
  /* padding: 40px 60px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}
.form-group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}
.already {
  text-align: center;
  font-family: "Poppins", sans-serif;
  color: #585454;
}
.already a {
  color: #1a52b4;
  text-decoration: none;
}
.privacy-policy {
  text-align: center;
  font-family: "sora", sans-serif;
  margin-top: 10px;
  margin-bottom: 25px;
  color: #585454;
  font-size: 14px;
}
.already span {
  color: #1a52b4;
  font-weight: 600;
}
.privacy-policy span {
  color: #1a52b4;
  font-weight: 600;
}
.bottom-signin-btn {
  background-color: #1a52b4;
  padding: 5px 15px;
  border-radius: 20px;
  border: none;
  color: #fff;
  font-family: "sora", sans-serif;
  cursor: pointer;
}
