.usha-membership {
  background-color: #fff;
}
.mission-body-text {
  font-family: "sora", sans-serif;
  text-align: center;
  width: 65%;
  margin: 50px auto;
}
.mission-types {
  width: 100%;
  max-width: 65%;
  min-width: 65%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "sora", sans-serif;
}
.pricing-plans-divs {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 80px 0px 40px 0px;
}
.pricing-div {
  width: 100%;
  max-width: 32%;
  min-width: 32%;
  border: 2px solid #000;
  border-radius: 20px;
  padding: 30px 20px;
  font-family: "sora", sans-serif;
}
.popular-pricing-div {
  width: 100%;
  max-width: 32%;
  min-width: 32%;
  background-color: #a35b13;
  border-radius: 20px;
  padding: 20px 10px 10px 10px;
  font-family: "sora", sans-serif;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.price-most-popular {
  color: #fff;
  padding-bottom: 15px;
  text-align: center;
}
.price-inner-div {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 20px;
}
.free-plan-div {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.free-plan-div p {
  color: #9c9c9c;
  font-size: 22px;
  font-weight: 600;
}
.free-plan-div img {
  width: 15px;
}
.free-plan-div1 {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.free-plan-div1 p {
  color: #a35b13;
  font-size: 22px;
  font-weight: 600;
}
.free-plan-div1 img {
  width: 15px;
}
.pricing-big-text {
  color: #000;
  font-size: 30px;
  font-weight: 600;
  margin: 10px 0;
}
.pricing-small-text {
  color: #585858;
  margin: 10px 0;
  font-size: 15px;
}
.pricing-sign-up-btn {
  width: 100%;
  background-color: #a35b13;
  padding: 12px 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  border: none;
  margin: 15px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.pricing-contact-btn {
  width: 100%;
  background-color: #cfcfcf;
  padding: 12px 20px;
  border-radius: 10px;
  color: #000;
  font-weight: 600;
  font-size: 14px;
  border: none;
  margin: 15px 0;
  margin-bottom: 20px;
  cursor: pointer;
}
.social-feed-connect {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin: 10px 0;
}
.social-feed-connect img {
  width: 20px;
}
.feed-brown span {
  color: #a35b13;
}
.feed-grey span {
  color: #9f9f9f;
}
.all-plans-text {
  font-family: "sora", sans-serif;
  text-align: center;
  color: #929292;
  margin-bottom: 80px;
}
.trusted-users {
  margin-bottom: 50px;
}
.trusted-user-heading {
  text-align: center;
  color: #a4a4a4;
  font-family: "sora", sans-serif;
  font-size: 45px;
  font-weight: 600;
}
.trusted-user-heading span {
  color: #a35b13;
}
.trusted-users-cards-wrapper {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  margin: 50px 0px 80px 0px;
}
.trusted-user-card {
  width: 100%;
  max-width: 32%;
  min-width: 32%;
  display: flex;
  flex-direction: column;
  font-family: "sora", sans-serif;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.trusted-card-head {
  background-color: #a35b13;
  display: flex;
  align-items: center;
  column-gap: 10px;
  padding: 40px 30px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: #fff;
}
.trusted-user-img {
  background-color: #fff;
  /* padding: 1px; */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.trusted-user-img img {
  width: 70px;
}
.user-name {
  font-size: 22px;
  font-weight: 600;
}
.trusted-card-body {
  padding: 30px 40px;
}
.stars-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.stars-div img {
  width: 20px;
}
.trusted-card-body-text {
  color: #8b8b8b;
  margin: 20px 0px 40px 0px;
}
.price-special-offer-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "sora", sans-serif;
  margin-top: 50px;
  margin-bottom: 80px;
}
.price-special-left {
  width: 100%;
  max-width: 40%;
  min-width: 40%;
}
.price-special-right {
  width: 100%;
  max-width: 45%;
  min-width: 45%;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.plans-div {
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.plans-div00 {
  border: 8px solid #a35b13;
  border-radius: 20px;
  padding: 30px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.left-offer-div {
  background-color: #f4b301;
  padding: 10px 25px;
  color: #000;
  font-weight: 600;
  font-size: 16px;
  width: 250px;
  text-align: center;
}
.unlock-heading {
  font-size: 18px;
  margin: 10px 0;
}
.unlock-heading2 {
  font-size: 27px;
  font-weight: 600;
}
.unlock-heading3 {
  color: #9d9d9d;
  font-size: 18px;
  margin: 10px 0;
}
.unlock-heading3 span {
  color: #a35b13;
  font-weight: 600;
}
.price-subscribe-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 8px 12px;
  columns: 30px;
  width: 350px;
  cursor: pointer;
  margin-top: 30px;
}
.plans-div1 {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.plans-div1-1 {
  font-size: 14px;
  font-weight: 600;
  text-decoration: line-through;
}
.plans-div1-2 {
  color: #a35b13;
  font-weight: 600;
  font-size: 23px;
}
.per-month-text {
  color: #a2a2a2;
  font-size: 10px;
  text-align: right;
}
.yearly-heading {
  font-size: 25px;
  color: #000;
  font-weight: 600;
}
.yearly-subheading {
  font-size: 14px;
  margin-top: 5px;
  font-weight: 500;
}
.popular-badge {
  position: absolute;
  top: -40px;
  left: 30px;
  background-color: #995800;
  color: white;
  padding: 10px 20px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  font-size: 13px;
  font-weight: bold;
}
.check-circle {
  position: absolute;
  top: -35px;
  right: -30px;
  width: 45px;
}

/* ***********Yearly Plan CSS************* */

.yearly-div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.yearly-plan {
  color: #000;
  font-weight: 600;
  font-size: 20px;
}
.billed-year {
  color: #000;
  font-size: 20px;
}
