.mission-body-text {
  font-family: "sora", sans-serif;
  text-align: center;
  width: 70%;
  margin: 50px auto;
}
.mission-types {
  width: 100%;
  max-width: 70%;
  min-width: 70%;
  margin: 0 auto;
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "sora", sans-serif;
}
