.about-container {
  background-color: #eeeeee;
}
.about-left {
  width: 100%;
  max-width: 45%;
  min-width: 45%;
}
.about-right {
  width: 100%;
  max-width: 45%;
  min-width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  row-gap: 80px;
}
.about-left-heading {
  font-size: 90px;
  color: #000;
  line-height: 90px;
  font-weight: 500;
}
.about-banner {
  background-image: url("../../assets/Indian Flag Colour 2.png");
  background-size: cover;
  background-position: center;
}
.about-container0 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0px;
  /* border-bottom: 1px solid #00000054; */
}
.about-banner-text {
  margin-top: 20px;
  text-align: center;
  font-family: "Sora", sans-serif;
}
.about-left-subheading {
  margin-top: 20px;
  font-size: 30px;
}
.about-right img {
  width: 60px;
}
.about-right p {
  text-align: justify;
}
.misson-container {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding-bottom: 50px;
  border-bottom: 1px solid #00000054;
}
.our-mission-heading {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  margin-top: 50px;
}
.mission-left {
  width: 100%;
  max-width: 50%;
  min-width: 50%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.mission-right {
  width: 100%;
  max-width: 50%;
  min-width: 50%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.mission-left-div {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* margin-top: 40px; */
}
.mission-right-div {
  text-align: right;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  /* margin-top: 40px; */
}
.mission-left-div-heading {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
}
.mission-left-div-text {
  font-size: 16px;
  color: #8e8e8e;
  /* font-weight: 300; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 20px;
}

.usha-manifesto-text {
  margin-top: 40px;
  color: #8e8e8e;
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding-bottom: 50px;
  border-bottom: 1px solid #00000054;
}
.usha-manifesto-text p {
  margin-top: 15px;
}
.quarry-form-heading{
  font-family: "Sora", sans-serif;
  font-size: 18px;
  text-align: center;
}
.quarry-form-btn{
  display: flex;
  column-gap: 20px;
  align-items: center;
  border: 1px solid #5D5B5B;
  border-radius: 20px;
  padding: 5px 20px;
  cursor: pointer;
  margin-top: 20px;
}
.quarry-form{
  padding: 50px 0;
}
.quarry-form-btn img{
  width: 50px;
}