* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
}

:root {
  font-family: "Cinzel", serif;
}
.header-top {
  background-color: #A35B13;
  color: #fff;
  padding: 3px 0px;
  text-align: center;
}
.header-top-text{
  font-size: 12px;
}
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  background-color: white;
}
.header-bottom .logo {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.header-bottom .logo img {
  width: 40px;
}
.header-bottom .logo span {
  font-size: 28px;
  color: #000;
  font-weight: 500;
}
.header-bottom-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60%;
  min-width: 60%;
}
.ai-search-box{
  border: 1px solid black;
  border-radius: 20px;
  padding: 8px 15px;
  display: flex;
  column-gap: 15px;
  align-items: center;
  width: 150px;
}
.ai-search-box img{
  width: 22px;
}
.ai-search-box input{
  outline: none;
  border: none;
  width: 100%;
}
.sign-in-btn {
  background-color: #1a52b4;
  border: none;
  color: white;
  padding: 8px 25px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.search-box {
  display: flex;
  column-gap: 10px;
  align-items: center;
}
.search-box input {
  background-color: #e2e2e2;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
  width: 250px;
  outline: none;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-bottom-right .search-box i {
  color: #000;
  font-size: 16px;
  cursor: pointer;
}
.uni-container {
  width: 100%;
  max-width: 80%;
  min-width: 80%;
  margin: 0 auto;
}
.about-us {
  color: #000;
  font-weight: 500;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  cursor: pointer;
}
.feature-stack-icon {
  width: 50px;
  cursor: pointer;
}

/* **********************Footer********************** */

.footer{
  font-family: "Cinzel", serif;
}
.footer-container{
  display: flex;
  justify-content: space-between;
}
.footer-left{
  width: 100%;
  max-width: 25%;
  min-width: 25%;
  padding-top: 50px;
  padding-bottom: 20px;
}
.footer-right{
  width: 100%;
  max-width: 25%;
  min-width: 25%;
}
.usha-foundation-heading{
  font-size: 50px;
  line-height: 50px;
}
.usha-foundation-heading span{
  font-size: 35px;
}
.usha-spiritual-foundation{
  margin-top: 10px;
  width: 80px;
  font-weight: 500;
}